<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@offer.edit.headline">Edit Offer</h1>
    <div>
        <a routerLink="/offers" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@offer.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="sku" i18n-label="@@offer.sku.label" label="Sku" />
    <app-input-row [group]="editForm" field="name" i18n-label="@@offer.name.label" label="Name" />
    <app-input-row [group]="editForm" field="type" i18n-label="@@offer.type.label" label="Offer type" />
    <app-input-row [group]="editForm" field="discountPercentage" i18n-label="@@offer.discountPercentage.label" label="Discount percentage" />
    <app-input-row [group]="editForm" field="xForYX" i18n-label="@@offer.xForYX.label" label="X in X for Y offer" />
    <app-input-row [group]="editForm" field="xForYY" i18n-label="@@offer.xForYY.label" label="Y in X for Y offer" />
    <app-input-row [group]="editForm" field="fixedPrice" i18n-label="@@offer.fixedPrice.label" label="Fixed price for X items" />
    <app-input-row [group]="editForm" field="description" i18n-label="@@offer.description.label" label="Description" />
    <input type="submit" i18n-value="@@offer.edit.headline" value="Edit Offer" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
